@media (max-width:1200) {
      
section {
  padding: 90px 20px;
}
footer{
  padding: 90px 20px;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
  text-align: center;
}
li{
  display: inline-block;
}
a{
  font-size: 16px;
  line-height: 22px;
  font-family: "Poppins", sans-serif;
}
h1{
  font-size: 77px;
  line-height: 87px;
  color: #81c408;
  font-weight: 800;
  font-family: "Raleway",sans-serif;

}
h2{
  font-size: 35px;
  line-height: 45px;
  color: #000;
  font-weight: 500;
  font-family: "Raleway",sans-serif;
}
h3{
  font-size: 30px;
  line-height: 42px;
  color: #81c408;
  font-weight: 600;
  font-family: "Raleway",sans-serif;

}
h4{
  font-size: 25px;
  line-height: 35px;
  color: #000;
  font-weight: 600;
  font-family: "Raleway",sans-serif;
}
h5{
  font-size: 23px;
  line-height: 32px;
  color: #000;
  font-weight: 700;
  font-family: "Raleway",sans-serif;
}
h6{
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 600;
  font-family: "Raleway",sans-serif;

}
p{
  font-size: 18px;
  line-height: 24px;
  color: #6f6f6f;
  font-weight: 400;
  font-family: "Open Sans",sans-serif;

}
span{
  font-size: 14px;
  line-height: 20px;
  color: #6c757d;
  font-weight: 400;
  font-family: "Open Sans",sans-serif;
}
.topbar-section {
  width: 100%; 
}
}
@media (max-width:1024px) {
    
section {
    padding: 90px 20px;
  }
  footer{
    padding: 90px 20px;
  }
  
  ul {
    margin-bottom: 0;
    padding-left: 0;
    text-align: center;
  }
  li{
    display: inline-block;
  }
  a{
    font-size: 16px;
    line-height: 22px;
    font-family: "Poppins", sans-serif;
  }
  h1{
    font-size: 77px;
    line-height: 87px;
    color: #81c408;
    font-weight: 800;
    font-family: "Raleway",sans-serif;
  
  }
  h2{
    font-size: 35px;
    line-height: 45px;
    color: #000;
    font-weight: 500;
    font-family: "Raleway",sans-serif;
  }
  h3{
    font-size: 30px;
    line-height: 42px;
    color: #81c408;
    font-weight: 600;
    font-family: "Raleway",sans-serif;
  
  }
  h4{
    font-size: 25px;
    line-height: 35px;
    color: #000;
    font-weight: 600;
    font-family: "Raleway",sans-serif;
  }
  h5{
    font-size: 23px;
    line-height: 32px;
    color: #000;
    font-weight: 700;
    font-family: "Raleway",sans-serif;
  }
  h6{
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 600;
    font-family: "Raleway",sans-serif;
  
  }
  p{
    font-size: 18px;
    line-height: 24px;
    color: #6f6f6f;
    font-weight: 400;
    font-family: "Open Sans",sans-serif;
  
  }
  span{
    font-size: 14px;
    line-height: 20px;
    color: #6c757d;
    font-weight: 400;
    font-family: "Open Sans",sans-serif;
  
  }
  

}

@media (max-width: 991px) {
    
section {
    padding: 90px 20px;
  }
  footer{
    padding: 90px 20px;
  }
  
  ul {
    margin-bottom: 0;
    padding-left: 0;
    text-align: center;
  }
  li{
    display: inline-block;
  }
  a{
    font-size: 16px;
    line-height: 22px;
    font-family: "Poppins", sans-serif;
  }
  h1{
    font-size: 77px;
    line-height: 87px;
    color: #81c408;
    font-weight: 800;
    font-family: "Raleway",sans-serif;
  
  }
  h2{
    font-size: 35px;
    line-height: 45px;
    color: #000;
    font-weight: 500;
    font-family: "Raleway",sans-serif;
  }
  h3{
    font-size: 30px;
    line-height: 42px;
    color: #81c408;
    font-weight: 600;
    font-family: "Raleway",sans-serif;
  
  }
  h4{
    font-size: 25px;
    line-height: 35px;
    color: #000;
    font-weight: 600;
    font-family: "Raleway",sans-serif;
  }
  h5{
    font-size: 23px;
    line-height: 32px;
    color: #000;
    font-weight: 700;
    font-family: "Raleway",sans-serif;
  }
  h6{
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 600;
    font-family: "Raleway",sans-serif;
  
  }
  p{
    font-size: 18px;
    line-height: 24px;
    color: #6f6f6f;
    font-weight: 400;
    font-family: "Open Sans",sans-serif;
  
  }
  span{
    font-size: 14px;
    line-height: 20px;
    color: #6c757d;
    font-weight: 400;
    font-family: "Open Sans",sans-serif;
  }
  .topbar-section{
    display: none;
  }
  .topbar-section .container{
    margin: 0 auto;
  }
  .navbar-collapse {
   display: block !important;
}
.navbar-nav{
  text-align: start;
  margin-left: 0;
}
.social-icon{
  text-align: start;
}
}

}
@media (max-width: 767px) {

    section {
        padding: 90px 20px;
      }
      footer{
        padding: 90px 20px;
      }
      
      ul {
        margin-bottom: 0;
        padding-left: 0;
        text-align: center;
      }
      li{
        display: inline-block;
      }
      a{
        font-size: 16px;
        line-height: 22px;
        font-family: "Poppins", sans-serif;
      }
      h1{
        font-size: 77px;
        line-height: 87px;
        color: #81c408;
        font-weight: 800;
        font-family: "Raleway",sans-serif;
      
      }
      h2{
        font-size: 35px;
        line-height: 45px;
        color: #000;
        font-weight: 500;
        font-family: "Raleway",sans-serif;
      }
      h3{
        font-size: 30px;
        line-height: 42px;
        color: #81c408;
        font-weight: 600;
        font-family: "Raleway",sans-serif;
      
      }
      h4{
        font-size: 25px;
        line-height: 35px;
        color: #000;
        font-weight: 600;
        font-family: "Raleway",sans-serif;
      }
      h5{
        font-size: 23px;
        line-height: 32px;
        color: #000;
        font-weight: 700;
        font-family: "Raleway",sans-serif;
      }
      h6{
        font-size: 18px;
        line-height: 24px;
        color: #000;
        font-weight: 600;
        font-family: "Raleway",sans-serif;
      
      }
      p{
        font-size: 18px;
        line-height: 24px;
        color: #6f6f6f;
        font-weight: 400;
        font-family: "Open Sans",sans-serif;
      
      }
      span{
        font-size: 14px;
        line-height: 20px;
        color: #6c757d;
        font-weight: 400;
        font-family: "Open Sans",sans-serif;
      
      }
      .product-info {
        padding: 10px;
      }
    
      .sellerproduct-heading h1 {
        font-size: 2rem;
      }
    
      .sellerproduct-heading p {
        font-size: 0.9rem;
      }
    
      .product-info .product-price {
        font-size: 1.25rem;
      }
}
@media(max-width:576px) {

}
@media (max-width:330px){
   
}




